{% extends '../../base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="container-fluid">
    <row class="no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto">
                            <form  method ="post" class="account-form p-4 rounded col-lg-10 mx-auto" action=".">
                                {% csrf_token %} 
                                <label for="">{{form.user_name.label}}</label>
                                {{form.user_name}}
                                <label for="">{{form.email.label}}</label>
                                {{form.email}}
                                <label for="">{{form.password.label}}</label>
                                {{form.password}}
                                <label for="">{{form.password2.label}}</label>
                                {{form.password2}}
                                <button class="btn btn-primary btn-block py-2 mt-5fw500 w-100" type="submit">Register</button>
                                <p class="text-center">
                                    <a href="">Already have an account</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>

{% endblock content %}